<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>datnt.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>datnt.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>datnt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>datnt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakesController</servlet-name>
        <servlet-class>datnt.controllers.SearchCakesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>datnt.controllers.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryController</servlet-name>
        <servlet-class>datnt.controllers.GetCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCakeController</servlet-name>
        <servlet-class>datnt.controllers.ViewCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>datnt.controllers.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartupController</servlet-name>
        <servlet-class>datnt.controllers.StartupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>datnt.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>datnt.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangeCartController</servlet-name>
        <servlet-class>datnt.controllers.SaveChangeCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartController</servlet-name>
        <servlet-class>datnt.controllers.DeleteFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartController</servlet-name>
        <servlet-class>datnt.controllers.ConfirmCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPaymentMethodController</servlet-name>
        <servlet-class>datnt.controllers.GetPaymentMethodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutCartAndCustomerController</servlet-name>
        <servlet-class>datnt.controllers.CheckoutCartAndCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerController</servlet-name>
        <servlet-class>datnt.controllers.GetCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>datnt.controllers.SearchOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakesController</servlet-name>
        <url-pattern>/SearchCakesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryController</servlet-name>
        <url-pattern>/GetCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCakeController</servlet-name>
        <url-pattern>/ViewCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartupController</servlet-name>
        <url-pattern>/StartupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangeCartController</servlet-name>
        <url-pattern>/SaveChangeCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartController</servlet-name>
        <url-pattern>/DeleteFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartController</servlet-name>
        <url-pattern>/ConfirmCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPaymentMethodController</servlet-name>
        <url-pattern>/GetPaymentMethodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutCartAndCustomerController</servlet-name>
        <url-pattern>/CheckoutCartAndCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerController</servlet-name>
        <url-pattern>/GetCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>ResourceSharing</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
